map-wrapper:not(.oj-complete){
  visibility: hidden;
}

map-wrapper{

}

p{
  font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 50%;
    font-size: 55px;
    color: black;

}
.table th {
   text-align: center;
}

th, td {
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

tr:nth-child(even){background-color: silver}

th {
    background-color: #4CAF50;
    color: white;
}

thead{
  text-align: center;
}
